[submodule "System-Design"]
	path = System-Design
	url = https://github.com/sagsango/System-Design.git
[submodule "cp"]
	path = cp
	url = https://github.com/sagsango/cp.git
[submodule "rfc"]
	path = rfc
	url = https://github.com/sagsango/rfc.git
[submodule "Design-Patterns"]
	path = Design-Patterns
	url = https://github.com/sagsango/Design-Patterns.git
[submodule "DesignPatterns"]
	path = DesignPatterns
	url = https://github.com/sagsango/DesignPatterns.git
[submodule "cpp"]
	path = cpp
	url = https://github.com/sagsango/cpp.git
